#rectangle{
    margin-left: auto;
    width: 400px;
    height:400px;
    background:#d7d4d4;
    border-radius: 40px;
    box-shadow: 25px 15px 15px #838282;
    transform: perspective( 1500px ) rotateY( -15deg );
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
                  
}
@-webkit-keyframes run {
  0% {
    margin-left: 100%;
  }
  25% {
    margin-left: 91%;
  }
  50% {
    margin-left: 83%;
  }
  75% {
    margin-left: 74%;
  }
  100% {
    margin-left: auto;
  }
}
      
 
        
